@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --lightBlue: #17a;
    --red: rgb(255, 72, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.payment-body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffe5d9 , #fff5e6);
}

nav {
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    margin-bottom: 30px;
}

.navbar-logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}

.navbar-user .user-button {
    width: 5vw;
    border: none;
    text-decoration: none;
    background: transparent;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
}

.navbar-user .user-button:hover {
    color: rgb(208, 208, 208)
}

.navbar-user .icon {
    width: 30%;
    padding-top: 2px;
}

.payment-wrapper {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.payment-amount {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.payment-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #666;
}

.payment-methods label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.payment-form .form-group {
  margin-bottom: 15px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.payment-form input, .payment-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.payment-button {
  width: 100%;
  padding: 10px;
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.payment-button:hover {
  background-color: #ff5125;
}