/* .all {
    background: linear-gradient(to bottom, #ffe5d9, #fff5e6);
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(34, 33, 33, 0.24);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 45px;
}

.navleft {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navleft h2 {
    padding-left: 7px;
}

.navlogo {
    height: 50px;
}

.navright {
    display: flex;
    padding-left: 10px;
}

.navoptions {
    list-style: none;
    display: flex;
    gap: 10px;
}

.navoptions li {
    margin-left: 10px;
    padding-right: 20px;
}

.navoptions a {
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 18px;
}

.navoptions a:hover {
    color: #ff6347;
    /* Tomato color */
}
